<body>
    <div class="container p-0">

        <p class="h2 mt-4">Admin Dashboard</p>

        <mat-card>
            <div class="row justify-content-around text-center">
                <mat-card class="col-lg-5 col-sm-12 row p-3 m-2 bg-primary  text-white">
                    <div class="row">
                        <p class="col-4"><i class="fa fa-users mt-2" style="font-size: xx-large"></i></p>
                        <div class="col-8">
                            <p class="h5">Total students</p>
                            <p class="h4 m-0">{{numStudent}}</p>
                        </div>
                    </div>
                </mat-card>
                <mat-card class="col-lg-5 col-sm-12 row p-3 m-2 bg-success text-white">
                    <div class="row">
                        <p class="col-4"><i class="fa fa-user mt-2" style="font-size: xx-large"></i></p>
                        <div class="col-8">
                            <p class="h5">Total tutors</p>
                            <p class="h4 m-0">{{numTutor}}</p>
                        </div>
                    </div>
                </mat-card>
            </div>
        </mat-card>

        <div class="row justify-content-around text-center my-5">
            <div class="col-lg-6 col-sm-12">
                <mat-card class="text-align-center" style="height: 100%">
                    <p class="h3">Chart</p>
                    <canvas id="myChart"></canvas>
                </mat-card>
            </div>
            <div class="col-lg-6 col-sm-12">
                <mat-card style="height: 100%">
                    <p class="h3 mr-5 mx-3">Average message</p>
                    <mat-card class="p-3 my-3 bg-danger text-white">
                        <div class="row">
                            <p class="col-4"><i class="fa fa-comments-o mt-2" style="font-size: xx-large"></i></p>
                            <div class="col-8">
                                <p class="h5">Total message in 7 days</p>
                                <p class="h4 m-0">{{numMess}}</p>
                            </div>
                        </div>
                    </mat-card>
                    <mat-card class="p-3 my-3 bg-warning text-white">
                        <div class="row">
                            <p class="col-4"><i class="fa fa-commenting mt-2" style="font-size: xx-large"></i></p>
                            <div class="col-8">
                                <p class="h5">Average message of tutor</p>
                                <p class="h4 m-0">{{averageTutorMess}}</p>
                            </div>
                        </div>
                    </mat-card>
                    <mat-card class="p-3 my-3 bg-info text-white">
                        <div class="row">
                            <p class="col-4"><i class="fa fa-commenting-o mt-2" style="font-size: xx-large"></i></p>
                            <div class="col-8">
                                <p class="h5">Average message of student</p>
                                <p class="h4 m-0">{{averageStudentMess}}</p>
                            </div>
                        </div>
                    </mat-card>
                </mat-card>
            </div>
        </div>

        <div class="my-5">
            <mat-card>
                <div class="row">
                    <div class="h3 col-sm-12 col-lg-10">Non-interaction</div>
                    <div class="h5 col-sm-12 col-lg-2">
                        <div class="form-group">
                            <select #days class="form-control" id="exampleSelect1"
                                (change)="getStudentNoInteraction(days.value)">
                                <option>7 days</option>
                                <option>14 days</option>
                                <option>21 days</option>
                                <option>28 days</option>
                                <option>35 days</option>
                                <option>42 days</option>
                                <option>49 days</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="example-container mat-elevation-z8">
                    <mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="no">
                            <mat-header-cell *matHeaderCellDef class="pl-2"><b> NO. </b></mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index" class="pl-2"> {{i + 1}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header><b>Student ID</b></mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> <b>Student Name</b> </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="lastLogin">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> <b>Last time Login</b>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.lastLogin}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                    </mat-table>

                    <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
                </div>
            </mat-card>
        </div>
    </div>
</body>