.cr-icon {
    position: absolute;
    color: #00FF42;
    font-size: 2em;
    line-height: 0;
    top: 50%;
    right: 5%;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

input[type="checkbox"]+.cr>.cr-icon,
input[type="radio"]+.cr>.cr-icon {
    opacity: 0;
}

input[type="checkbox"]:checked+.cr>.cr-icon,
input[type="radio"]:checked+.cr>.cr-icon {
    opacity: 1;
}

.radio {
    padding: 2%;
}