<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="container bg-light ">
    <div class="row justify-content-center ">
        <div class="col-lg-8 my-5 p-0 ">
            <div class="row mb-3">
                <div class="p-2 col-2 ">
                    <div class="radio  bg-white text-dark align-self-center">
                        <label class="form-control">
                            <input  type="checkbox"(click)="checkAll($event)"  value="" >
                            <span class="cr "><i class="cr-icon fas fa-check" style="font-size: 1em; right: 13%;" ></i></span>
                            Check All
                        </label>
                    </div>
                </div>
                <div class="col-2 align-self-center">
                    <select class="form-control p-0 m-0" style="width: 150%; height: 34px;">
                        <option>Major 1</option>
                        <option>Major 2</option>
                        <option>Major 3</option>
                        <option>Major 4</option>
                        <option>Major 5</option>
                        <option>Major 6</option>
                        <option>Major 7</option>
                    </select>
                </div>
                <div class="ml-auto align-self-center">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search">
                        <button class="rounded border border-primary btn btn-sm btn-outline-primary" style="font-size: larger;">Search</button>
                    </form>
                </div>

            </div>
            <div class="border rounded p-4">
                <div *ngFor="let student of students">
                    <div class="radio border rounded bg-white text-dark">
                        <label>
                            <input type="checkbox" [(ngModel)]="student.checked"  value="">
                            <span class="cr bd-highlight"><i class="cr-icon fas fa-check" ></i></span>
                            {{student.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>