<div class="container py-2">
    <div class="row my-2">
        <div class="col-lg-4 mt-3">
            <p class="text-center font-weight-light h3 font-weight-bold">Lê Hồng Thư</p>
        </div>
        <div class="col-lg-8">
            <div class="alert alert-info alert-dismissable text-center">
                <p class="h3 m-0">Add new student</p>
            </div>
        </div>
        <div class="col-lg-8 order-lg-1 personal-info">
            <form role="form">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Username:</label>
                    <div class="col-lg-9">
                        <input disabled class="form-control" type="text" value="ThuLHGCH16399" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Full name:</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="Lê Hồng Thư" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Phone:</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="085 407 1328" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email:</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="ThuLHGCH16399@fpt.edu.vn" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Address:</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="Address" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Day of birth:</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="date" value="" value="2018-07-22" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9 ml-auto text-right d-flex justify-content-around">
                        <input type="button" class="btn btn-primary" value="ADD" style="width: 130px; height: 40px;" />
                        <input type="reset" class="btn btn-outline-secondary " value="CANCEL" style="width: 130px; height: 40px;" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 order-lg-0 text-center">
            <img src="assets/images/avatar.jpg" style="width: 200px; height: 200px;" class="mx-auto img-fluid rounded-circle" alt="avatar" />
            <h5 class="my-4">Upload a new photo</h5>
            <div class="input-group px-xl-4">
                <div class="custom-file">
                    <input type="file" class="custom-file-input">
                    <label class="custom-file-label">Choose file</label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-secondary "><i class="fa fa-upload"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>