<body>
    <div class="container">
        <!-- Breadcrumb -->
        <div class="mt-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/staff/Dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">List of classes</li>
                </ol>
            </nav>
        </div>

        <div class="mt-5">
            <div class="row justify-content-center my-4">
                <div class="col-lg-8">
                    <mat-card class="text-center h4 bg-info">LIST OF CLASSES</mat-card>
                </div>
            </div>

            <div class="example-container mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="no">
                        <mat-header-cell *matHeaderCellDef><b> NO. </b></mat-header-cell>
                        <mat-cell *matCellDef="let i = index"> {{i + 1}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="tutorName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>Tutor Name</b></mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.tutorName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="studentName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> <b>Student Name</b> </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.studentName}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>

            </div>
        </div>
    </div>
</body>