body{
    height: 100vh;
}

a{
    color: black;
}
    
a:hover {
    color: brown;
    font-size: medium;
    text-decoration: none;
  }
 
.example-container {
    display: flex;
    flex-direction: column;
}
    
.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 70vh;
}

b{
    color: black;
}

mat-header-cell{
    background-color:  #17a2b8;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example-container {
      max-width: 100%;
    }
    
    b{
      font-size: x-small;
    }
    
    .mat-cell{
      font-size: xx-small;
    }

    .mat-column-no {
        max-width: 10%;
    }
    
    .mat-column-tutorName {
        max-width: 40%;
    }
    
    .mat-column-studentName {
        max-width: 50%;
    }
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .example-container {
      max-width: 100%;
    }
    
    b{
      font-size: small;
    }
    
    .mat-cell{
      font-size: x-small;
    }

    .mat-column-no {
        max-width: 10%;
    }
    
    .mat-column-tutorName {
        max-width: 30%;
    }
    
    .mat-column-studentName {
        max-width: 60%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example-container {
      max-width: 100%;
    }
    
    b{
      font-size: medium;
    }
    
    .mat-cell{
      font-size: small;
    }

    .mat-column-no {
        max-width: 10%;
    }
    
    .mat-column-tutorName {
        max-width: 30%;
    }
    
    .mat-column-studentName {
        max-width: 60%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example-container {
      max-width: 100%;
    }
    
    b{
      font-size: large;
    }
    
    .mat-cell{
      font-size: medium;
    }

    .mat-column-no {
        max-width: 7%;
    }
    
    .mat-column-tutorName {
        max-width: 32%;
    }
    
    .mat-column-studentName {
        max-width: 65%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example-container {
      max-width: 100%;
    }
    
    b{
      font-size: large;
    }
    
    .mat-cell{
      font-size: medium;
    }

    .mat-column-no {
        max-width: 7%;
    }
    
    .mat-column-tutorName {
        max-width: 32%;
    }
    
    .mat-column-studentName {
        max-width: 65%;
    }
}
  