<div class="container bg-light pt-5">
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <p class="h3">Edit Class</p>
            <div class="form-group ">
                <input disabled class="form-control" type="text" placeholder="Major:" />
                <input disabled class="form-control" type="text" placeholder="Course:" />
                <input disabled class="form-control" type="text" placeholder="ID:" />
                <input disabled class="form-control" type="text" placeholder="Name:" />
                <label class="h5" for="tutor">Tutor</label>
                <select class="form-control" id="tutor" data-toggle="collapse" data-target="#tutorSchedule">
                    <option>Tutor 1</option>
                    <option>Tutor 2</option>
                    <option>Tutor 3</option>
                    <option>Tutor 4</option>
                    <option>Tutor 5</option>
                    <option>Tutor 6</option>
                    <option>Tutor 7</option>
                </select>
                <div class="collapse" id="tutorSchedule">
                    <p class="h4 my-3 mt-4 ">Tutor Schedule</p>
                    <app-time-table></app-time-table>
                </div>
                <!-- <label class="h4 my-3 mt-4" for="tutor">Add Students:
                    <button class=" form-control"  data-toggle="collapse" data-target="#liststudents"></button>
                </label>
                <div class="collapse" id="liststudents">
                    <p class="h4 my-3 mt-4">List Students</p>
                    <app-select-students></app-select-students>
                </div> -->
                <label class="h5 my-3 mt-4" for="slots">Slots-Day</label>
                <select class="form-control" id="slots">
                    <option>Slot 1 (7:30-9:00)</option>
                    <option>Slot 2 (9:10-10:40)</option>
                    <option>Slot 3 (10:50-12:20)</option>
                    <option>Slot 4 (12:50-14:20)</option>
                    <option>Slot 5 (14:30-16:00)</option>
                    <option>Slot 6 (16:10-17:40)</option>
                    <option>Slot 7 (17:50-19:20)</option>
                    <option>Slot 8 (19:30-21:00)</option>
                </select>

                <input class="form-control" type="text" placeholder="Date start-end:" />

                <div class="d-flex flex-row-reverse">

                    <button type="button" class="btn btn-danger px-3">CANCEL</button>
                    <button type="button" class="btn btn-success px-4 mx-3">SAVE</button>
                </div>
            </div>

        </div>

    </div>

</div>