<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm">
            <div class="h1">Hà Nội</div>
            <hr>
            <div class="text-dark">
                <p>ĐẠI HỌC GREENWICH (VIỆT NAM)</p>
                <p>Tòa nhà DETECH -Số 8 Tôn Thất Thuyết-P.Mỹ Đình 2-Q.Nam Từ Liêm</p>
                <p>Điện thoại: 024.7300.2266</p>
                <p>Hotline: 0981.558.080 | 0971.274.545</p>
            </div>
        </div>

        <div class="col-sm">
            <div class="h1">Hồ Chí Minh</div>
            <hr>
            <div class="text-dark">
                <p>ĐẠI HỌC GREENWICH (VIỆT NAM)</p>
                <p>CS1: Số 142-146 Phạm Phú Thứ - Phường 4 - Quận 6 (Cuối đường 3/2)</p>
                <p>CS2: 205 Nguyễn Xí, Phường 26, Bình Thạnh.</p>
                <p>Điện thoại: 028.7300.2266</p>
                <p>Hotline: 0933.108.554 | 0971.294.545</p>
            </div>
        </div>

        <div class="col-sm">
            <img src = "https://danangjob.vn/Upload/Member/201914162033.png" class="h-75 w-75">
        </div>
    </div>
</div>