<div class="container bg-light">
    <div class="border rounded m-4">
        <div class="row justify-content-center my-5">
            <div class="col-lg-8">
                <div class="alert alert-info alert-dismissable text-center">
                    <p class="h3 m-0 text-uppercase">Course detail</p>
                </div>
            </div>
        </div>

        <div class="form-group ">
            <div class="row justify-content-center ">
                <p class="col-2 align-self-center h5">Course ID:</p>
                <div class="col-8">
                    <input disabled class="form-control " type="text" />
                </div>
            </div>
            <div class="row justify-content-center ">
                <p class="col-2 align-self-center h5">Course:</p>
                <div class="col-8">
                    <input disabled class="form-control" type="text" />
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <label class="col-lg-2 h5">Description:</label>
                <div class="col-lg-8">
                    <textarea disabled class="form-control disabled" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>