<div class="container bg-light border mt-5">

  <div class="row justify-content-center my-5">
      <div class="col-lg-8">
          <div class="alert alert-info alert-dismissable text-center">
              <p class="h3 m-0 text-uppercase">Add new course</p>
          </div>
      </div>
  </div>

  <div class="form-group">
    <div class="form-group row p-2">
      <label for="staticEmail" class="col-lg-2 col-form-label">Username</label>
      <div class="col-lg-9">
        <input type="text" class="form-control" id="username" placeholder="Enter your username....">
      </div>
    </div>
    <div class="form-group row p-2">
      <label for="inputPassword" class="col-lg-2 col-form-label">Password</label>
      <div class="col-lg-9">
        <input type="password" class="form-control" id="inputPassword" placeholder="Enter your password....">
      </div>
    </div>
    <div class="form-group row p-2">
        <label for="inputPassword" class="col-lg-2 col-form-label">Roles</label>
        <div class="dropdown col-lg-9">
          <div class="form-group">
            <select class="form-control" id="exampleSelect1">
              <option selected>Choose a role</option>
              <option>Students</option>
              <option>Staffs</option>
              <option>Tutors</option>
            </select>
        </div>
        </div>
    </div>

      <div class="form-group row my-5">
          <div class="col-lg-9 ml-auto text-right d-flex justify-content-around">
              <input type="button" class="btn btn-primary" value="ADD" style="width: 130px; height: 40px;" />
              <input type="reset" class="btn btn-outline-secondary " value="CANCEL" style="width: 130px; height: 40px;" />
          </div>
      </div>
  </div>
</div>