<mat-sidenav-container>
    <mat-sidenav mode="side" #sidenav position="start" class="p-0">
        <app-sidebar></app-sidebar>>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar style="background-color: #ECEDE7; padding: 0;">
            <nav class="navbar navbar-light ">
                <button type="button" (click)="sidenav.toggle()" class="navbar-toggler sidebar-toggle-mobile">
            <i class="fa fa-bars"></i>
        </button>
            </nav>
            <div class="form-inline d-flex justify-content-center md-form form-sm mt-0 w-25" id="search-form">
                <i class="material-icons" style="font-size: 1.8em; color: gray;">search</i>
                <input class="form-control form-control-sm ml-3 w-75 border-top-0 border-right-0 border-left-0" style="background-color: #ECEDE7;" type="text" placeholder="Search" aria-label="Search">
            </div>
            <span class="toolbar-spacer"></span>
            <ul class="nav">
                <li class="nav-item dropdown align-self-center">
                    <a class="nav-link dropdown-toggle text-secondary" data-toggle="dropdown" href="#"><i class="material-icons" style="font-size: 1.2em;">mail_outline</i></a>
                    <div class="dropdown-menu dropdown-menu-left m-0 p-0">
                        <p class="text-center p-1 py-2" style="background-color: darkgrey;">WELCOME!</p>
                        <a class="dropdown-item" href="#"> PROFILE</a>
                        <a class="dropdown-item" href="#">SETTING</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">LOG OUT</a>
                    </div>
                </li>
                <li class="nav-item dropdown align-self-center">
                    <a class="nav-link dropdown-toggle text-secondary" data-toggle="dropdown" href="#"><i class="fa fa-bell-o" style="font-size: 1.2em;"></i></a>
                    <div class="dropdown-menu dropdown-menu-right m-0 p-0">
                        <p class="text-center p-1 py-2" style="background-color: darkgrey;">WELCOME!</p>
                        <a class="dropdown-item" href="#"> PROFILE</a>
                        <a class="dropdown-item" href="#">SETTING</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">LOG OUT</a>
                    </div>
                </li>
                <li class="nav-item dropdown align-self-center">
                    <a class="nav-link dropdown-toggle text-secondary" data-toggle="dropdown" href="#">USER NAME</a>
                    <div class="dropdown-menu dropdown-menu-right m-0 p-0">
                        <p class="text-center p-1 py-2" style="background-color: darkgrey;">WELCOME!</p>
                        <a class="dropdown-item" href="#"><i class="fa fa-user-circle-o mr-2"></i> PROFILE</a>
                        <a class="dropdown-item" href="#"> <i class="fa fa-cog mr-2"></i> SETTING</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"> <i class="fa fa-sign-out mr-2"></i> LOG OUT</a>
                    </div>
                </li>
            </ul>

        </mat-toolbar>
        <!-- <app-dashboard-staff></app-dashboard-staff>
        <hr>
        <app-profile></app-profile>
        <hr>
        <app-update-profile></app-update-profile>
        <hr>
        <app-chance-password></app-chance-password>
        <hr>
        <app-add-tutor></app-add-tutor>
        <hr>
        <app-update-tutor></app-update-tutor>
        <hr>
        <app-tutor-detail></app-tutor-detail>
        <hr>
        <app-list-of-tutors></app-list-of-tutors>
        <hr>
        <app-list-of-tutor-students></app-list-of-tutor-students>
        <hr>
        <app-list-of-students></app-list-of-students>
        <hr>
        <app-list-of-student-tutors></app-list-of-student-tutors>
        <hr>
        <app-attendance></app-attendance>
        <hr>
        <app-add-student></app-add-student>
        <hr>
        <app-update-student></app-update-student>
        <hr>
        <app-student-detail></app-student-detail>
        <hr>
        <app-list-of-majors></app-list-of-majors>
        <hr>
        <app-add-major></app-add-major>
        <hr>
        <app-update-major></app-update-major>
        <hr>
        <app-major-detail></app-major-detail>
        <hr>
        <app-list-of-courses></app-list-of-courses>
        <hr>
        <app-add-course></app-add-course>
        <hr>
        <app-update-course></app-update-course>
        <hr>
        <app-course-detail></app-course-detail> -->

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>