<div class="container">
    <div class="my-5">
        <div class="row justify-content-center my-4">
            <div class="col-lg-8">
                <div class="alert alert-info alert-dismissable text-center">
                    <p class="h3 m-0">List of students</p>
                </div>
            </div>
        </div>

        <table class="table table-striped text-center ">
            <thead class="table-info">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">ID Student</th>
                    <th scope="col">Name Student</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of students ; let i= index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>{{item.address}}</td>
                    <td class="p-2">
                        <div class="form-group row justify-content-around">
                            <div>
                                <input type="button" class="btn btn-outline-secondary mx-4" value="Detail" routerLink="/staff/StudentDetail" />
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>