.overflows{
    padding: 15px;
    height: 30vh;
    overflow: scroll;
}

.overflow{
    padding: 15px;
    height: 20vh;
    overflow: scroll;
}

a{
    color: black;
  }
    
a:hover {
    color: brown;
    font-size: medium;
    text-decoration: none;
  }