<div class="container">
    <div class="my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="alert alert-info alert-dismissable text-center">
                    <p class="h3 m-0">List of tutors</p>
                </div>
            </div>
        </div>

        <table class="table table-striped text-center ">
            <thead class="table-info">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Tutor</th>
                    <th scope="col">Student</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tutors ; let i= index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{item.name}}</td>
                    <td *ngIf="null" class = "tutorId">{{item.id}}</td>
                    <td ng-app="" ng-init="tutorId='item.id'" onload="getClass(item.id)"  *ngFor="let class of classes">
                        <tr>{{class.studentName}}</tr>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



