<body>
    <div class="container">
        <div class="my-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="alert alert-info alert-dismissable text-center">
                        <p class="h3 m-0">List of classes</p>
                    </div>
                </div>
            </div>

            <div class="example-container mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort>
                    
                    <ng-container matColumnDef="no">
                        <mat-header-cell *matHeaderCellDef><b> NO. </b></mat-header-cell>
                        <mat-cell *matCellDef="let i = index"> {{i + 1}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="tutorName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>Tutor Name</b></mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.tutorName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="studentName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> <b>Student Name</b> </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.studentName}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>

            </div>
        </div>
    </div>
</body>