<div class="container">
    <div class="my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="alert alert-info alert-dismissable text-center">
                    <p class="h3 m-0">List students of Vũ Thanh Hải</p>
                </div>
            </div>
        </div>
        <table class="table table-striped text-center ">
            <thead class="table-info">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">ID Student</th>
                    <th scope="col">Name Student</th>
                    <th scope="col">Course</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Total mes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>GCH17645</td>
                    <td>Trịnh Văn Duy</td>
                    <td>Enterprise Web Software Development</td>
                    <td>Duytvgch17645@fpt.edu.vn</td>
                    <td>0369549798</td>
                    <td>Hà Nam</td>
                    <td>95</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>GCH17645</td>
                    <td>Trịnh Văn Duy</td>
                    <td>Enterprise Web Software Development</td>
                    <td>Duytvgch17645@fpt.edu.vn</td>
                    <td>0369549798</td>
                    <td>Hà Nam</td>
                    <td>95</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>GCH17645</td>
                    <td>Trịnh Văn Duy</td>
                    <td>Enterprise Web Software Development</td>
                    <td>Duytvgch17645@fpt.edu.vn</td>
                    <td>0369549798</td>
                    <td>Hà Nam</td>
                    <td>95</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>GCH17645</td>
                    <td>Trịnh Văn Duy</td>
                    <td>Enterprise Web Software Development</td>
                    <td>Duytvgch17645@fpt.edu.vn</td>
                    <td>0369549798</td>
                    <td>Hà Nam</td>
                    <td>95</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>GCH17645</td>
                    <td>Trịnh Văn Duy</td>
                    <td>Enterprise Web Software Development</td>
                    <td>Duytvgch17645@fpt.edu.vn</td>
                    <td>0369549798</td>
                    <td>Hà Nam</td>
                    <td>95</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>GCH17645</td>
                    <td>Trịnh Văn Duy</td>
                    <td>Enterprise Web Software Development</td>
                    <td>Duytvgch17645@fpt.edu.vn</td>
                    <td>0369549798</td>
                    <td>Hà Nam</td>
                    <td>95</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>