
.image-upload > input {
    display: none;
}

.image-upload img {
    width: 25px;
    cursor: pointer;
}

.borderImg{
    border-radius: 30px;
}

.borderMes{
    margin: 10px 0px 10px 10px;
    padding: 10px;
    background-color:rgba(214, 132, 235, 0.4);
    width: 70%;
    border-radius: 20px;
}