<body *ngIf="isVideoCall">
    <app-video-call></app-video-call>
    <button class="btn btn-primary" (click)="closeVideo()">End Video Call</button>
</body>

<body *ngIf="isMes">
    <div class="container-fluid">

        <!-- Breadcrumb -->
        <div *ngIf="accountTutor">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/tutor/Dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Message</li>
                </ol>
            </nav>
        </div>
        <div *ngIf="accountStudent">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/student/Dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Message</li>
                </ol>
            </nav>
        </div>

        <mat-card class="pt-3 bg-light my-2">
            <button class="btn btn-primary" (click)="openVideo()">Video Call</button>
        </mat-card>

        <div class="row justify-content-around">
            <!-- left -->
            <mat-card class="col-3 border p-0" *ngIf="accountTutor">
                <mat-card class="h5">List of students</mat-card>
                <div class="list-group" id="list-tab" role="tablist" *ngFor="let item of class; let i = index">
                    <a class="list-group-item list-group-item-action" (click)="selectStudent(item)">
                        {{i + 1}} - {{item.studentName}}
                    </a>
                </div>
            </mat-card>

            <mat-card class="col-3 border p-0" *ngIf="accountStudent">
                <mat-card class="h5">Tutor information</mat-card>
                <div class="pt-5 pb-5">
                    <div class="row justify-content-center align-items-center">
                        <img src="{{tutorByStudent.avatar}}" class="borderImg" style="width: 50%;">
                    </div>
                    <h2 class="font-weight-bold text-center mt-3">{{tutorByStudent.name}}</h2>
                    <p class="h6 text-center"><i class="fa fa-phone"></i> {{tutorByStudent.phoneNumber}}</p>
                    <p class="h6 text-center"><i class="fa fa-envelope"></i> {{tutorByStudent.email}}</p>
                </div>
            </mat-card>

            <!-- middle -->
            <mat-card class="col-5 border p-0">
                <div style="height: 80vh; overflow: auto;">
                    <div *ngFor="let item of messageArray ">
                        <div class="borderMes ml-auto text-center bg-warning card" *ngIf="item.user == user">
                            <p class="card-title">{{item.message}}</p>
                            <p class="card-text">{{item.time}}</p>
                        </div>

                        <div class="borderMes mr-auto text-center card" *ngIf="item.user != user">
                            <p class="card-title">{{item.message}}</p>
                            <p class="card-text">{{item.time}}</p>
                        </div>
                        <!-- <p class="borderMes mr-auto text-center" *ngIf="item.user != user">{{item.message}}</p> -->
                    </div>
                </div>
                <div class="input-group mt-auto">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button">
                            <div class="image-upload">
                                <label for="file-input">
                                    <i class="fa fa-cloud fa-1x pt-2"></i>
                                </label>
                                <input id="file-input" type="file" />
                            </div>
                        </button>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter message..." [(ngModel)]="messageText">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" (click)="sendMessage()">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </mat-card>

            <!-- right -->
            <mat-card class="col-3 border p-0">
                <div class="pt-5 pb-5">
                    <div class="row justify-content-center align-items-center">
                        <img src="{{avatar}}" class="borderImg" style="width: 50%;">
                    </div>
                    <h2 class="font-weight-bold text-center mt-3">{{name}}</h2>
                </div>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    SHARED FILES
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                <div class="list-group " id="list-tab" role="tablist" *ngFor="let item of files">
                                    <a class="list-group-item list-group-item-action mt-3"
                                        (click)="downloadFile(item)">{{item.name}}</a>
                                </div>
                                <input id="file-input" type="file" #valueFile />
                                <button type="button" class="btn btn-success" (click)="addFile(valueFile.value)">
                                    Add File
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</body>