<div class="container-fluid">
    <div class="row pt-3">
        <div class="col-sm-3">
            <h1 class="text-uppercase font-weight-bold">chats</h1>
        </div>
        <div class="col-sm-9 d-flex justify-content-between">
            <app-video-call></app-video-call>
        </div>
    </div>
    <div class="row">


        <!-- left -->
        <div class="col-3"  *ngIf="accountTutor">
            <div class="list-group" id="list-tab" role="tablist" *ngFor = "let item of class">
                <a class="list-group-item list-group-item-action" (click)="selectStudent(item)">{{item.studentName}}</a>
            </div>
        </div>

        <div class="col-3"  *ngIf="accountStudent">

            <div class="pt-5 pb-5">
                <div class="row justify-content-center align-items-center">
                    <img src="{{avatar}}" class="rounded-circle" style="width: 150px; height: 150px;">
                </div>
                <h2 class="font-weight-bold text-center mt-3">{{name}}</h2>
            </div>

        </div>
        
        <!-- middle -->
        <div class="col-6 border p-0">
            <div style="height: 86vh; background-color: rgba(255,0,0,0.1); overflow: auto;">
                <div *ngFor="let item of messageArray">
                    <span> {{item.message}}</span>
                </div> 
            </div>
            <div class="input-group mt-auto">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">
                        <div class="image-upload">
                            <label for="file-input">
                                <i class="fa fa-cloud fa-1x pt-2"></i>
                            </label>
                            <input id="file-input" type="file"/>
                        </div>
                    </button>
                </div>
                <input type="text" class="form-control" placeholder="Aa" aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="messageText">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="sendMessage()">
                        <i class="fa fa-paper-plane"></i>
                    </button>   
                </div>
            </div>
        </div>

        <!-- right -->
        <div class="col-3">
            <div class="pt-5 pb-5">
                <div class="row justify-content-center align-items-center">
                    <img src="{{avatar}}" class="rounded-circle" style="width: 150px; height: 150px;">
                </div>
                <h2 class="font-weight-bold text-center mt-3">{{name}}</h2>
            </div>
            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            SHARED FILES    
                        </button>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="list-group " id="list-tab" role="tablist" *ngFor = "let item of files">
                            <a class="list-group-item list-group-item-action mt-3" >{{item.name}}</a>
                        </div>
                        <input id="file-input"  type="file" #valueFile/>
                        <button type="button" class="btn btn-secondary" (click) = "addFile(valueFile.value)">Add File</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

