<nav id="sidebar">
    <div class="img bg-wrap text-center py-4" style="background-image: url(assets/images/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url({{avatar}});"></div>
            <h3>{{username}}</h3>
        </div>
    </div>
    <ul class="list-unstyled">
        <!-- Staff SideBar -->
        <li *ngIf="accountStaff">
            <a routerLink="/staff/Dashboard">
                <i class="fa fa-dashboard mr-2"></i> DASHBOARD
            </a>
        </li>
        <li *ngIf="accountStaff">
            <a routerLink="/staff/ListStudents">
                <i class="fa fa-dashboard mr-2"></i> MANAGE STUDENT
            </a>
        </li>
        <li *ngIf="accountStaff">
            <a routerLink="/staff/ListTutors">
                <i class="fa fa-dashboard mr-2"></i> MANAGE TUTOR
            </a>
        </li>
        <li *ngIf="accountStaff">
            <a routerLink="/staff/ListClass">
                <i class="fa fa-dashboard mr-2"></i> LIST CLASS
            </a>
        </li>
        <li *ngIf="accountStaff">
            <a routerLink="/staff/AddClass">
                <i class="fa fa-dashboard mr-2"></i>ADD CLASS
            </a>
        </li>


        <!-- Tutor SideBar -->
        <li *ngIf="accountTutor">
            <a routerLink="/admin/tutors"> <i class="	fa fa-calendar mr-2"></i>BLOG</a>
        </li>
        <li *ngIf="accountTutor">
            <a routerLink="/tutor/ListClass"> <i class="	fa fa-calendar mr-2"></i>CLASS LIST</a>
        </li>
        <li *ngIf="accountTutor">
            <a routerLink="/tutor/Schedule"> <i class="	fa fa-calendar mr-2"></i>WEEKLY SCHEDULE</a>
        </li>
        <li *ngIf="accountTutor">
            <a routerLink="/tutor/Messages"> <i class="	fa fa-calendar mr-2"></i>MESSAGES</a>
        </li>

        <!-- Student SideBar -->
        <li *ngIf="accountStudent">
            <a routerLink="/tutor/Schedule"> <i class="	fa fa-calendar mr-2"></i>WEEKLY SCHEDULE</a>
        </li>
        <li *ngIf="accountStudent">
            <a routerLink="/student/Messages"> <i class="	fa fa-calendar mr-2"></i>MESSAGES</a>
        </li>
        <li>
            <a routerLink="/profile">
                <i class="fa fa-dashboard mr-2"></i>PROFILE
            </a>
        </li>

    </ul>
</nav>