<div class="container p-0">
    <table class="table table-bordered">
        <thead class="table-info">
            <tr>
                <th>
                    <p>Weekly timetable</p>
                    <input type="date">
                </th>
                <th>MON</th>
                <th>TUE</th>
                <th>WED</th>
                <th>THU</th>
                <th>FRI</th>
                <th>SAT</th>
                <th>SUN</th>
            </tr>
        </thead>
        <tbody>
            <td>
                <tr>Slot 1 (7:30-9:00)</tr>
                <tr>Slot 2 (9:10-10:40)</tr>
                <tr>Slot 3 (10:50-12:20)</tr>
                <tr>Slot 4 (12:50-14:20)</tr>
                <tr>Slot 5 (14:30-16:00)</tr>
                <tr>Slot 6 (16:10-17:40)</tr>
                <tr>Slot 7 (17:50-19:20)</tr>
                <tr>Slot 8 (19:30-21:00)</tr>
            </td>
            <td>
                <tr>Slot 1 (7:30-9:00)</tr>
                <tr>Slot 2 (9:10-10:40)</tr>
                <tr>Slot 3 (10:50-12:20)</tr>
                <tr>Slot 4 (12:50-14:20)</tr>
                <tr>Slot 5 (14:30-16:00)</tr>
                <tr>Slot 6 (16:10-17:40)</tr>
                <tr>Slot 7 (17:50-19:20)</tr>
                <tr>Slot 8 (19:30-21:00)</tr>
            </td>
            <td>
                <tr>Slot 1 (7:30-9:00)</tr>
                <tr>Slot 2 (9:10-10:40)</tr>
                <tr>Slot 3 (10:50-12:20)</tr>
                <tr>Slot 4 (12:50-14:20)</tr>
                <tr>Slot 5 (14:30-16:00)</tr>
                <tr>Slot 6 (16:10-17:40)</tr>
                <tr>Slot 7 (17:50-19:20)</tr>
                <tr>Slot 8 (19:30-21:00)</tr>
            </td>
            <td>
                <tr>Slot 1 (7:30-9:00)</tr>
                <tr>Slot 2 (9:10-10:40)</tr>
                <tr>Slot 3 (10:50-12:20)</tr>
                <tr>Slot 4 (12:50-14:20)</tr>
                <tr>Slot 5 (14:30-16:00)</tr>
                <tr>Slot 6 (16:10-17:40)</tr>
                <tr>Slot 7 (17:50-19:20)</tr>
                <tr>Slot 8 (19:30-21:00)</tr>
            </td>
            <td>
                <tr>Slot 1 (7:30-9:00)</tr>
                <tr>Slot 2 (9:10-10:40)</tr>
                <tr>Slot 3 (10:50-12:20)</tr>
                <tr>Slot 4 (12:50-14:20)</tr>
                <tr>Slot 5 (14:30-16:00)</tr>
                <tr>Slot 6 (16:10-17:40)</tr>
                <tr>Slot 7 (17:50-19:20)</tr>
                <tr>Slot 8 (19:30-21:00)</tr>
            </td>
            <td>
                <tr>Slot 1 (7:30-9:00)</tr>
                <tr>Slot 2 (9:10-10:40)</tr>
                <tr>Slot 3 (10:50-12:20)</tr>
                <tr>Slot 4 (12:50-14:20)</tr>
                <tr>Slot 5 (14:30-16:00)</tr>
                <tr>Slot 6 (16:10-17:40)</tr>
                <tr>Slot 7 (17:50-19:20)</tr>
                <tr>Slot 8 (19:30-21:00)</tr>
            </td>
            <td>
                <tr>Slot 1 (7:30-9:00)</tr>
                <tr>Slot 2 (9:10-10:40)</tr>
                <tr>Slot 3 (10:50-12:20)</tr>
                <tr>Slot 4 (12:50-14:20)</tr>
                <tr>Slot 5 (14:30-16:00)</tr>
                <tr>Slot 6 (16:10-17:40)</tr>
                <tr>Slot 7 (17:50-19:20)</tr>
                <tr>Slot 8 (19:30-21:00)</tr>
            </td>
            <td>
                <tr>Slot 1 (7:30-9:00)</tr>
                <tr>Slot 2 (9:10-10:40)</tr>
                <tr>Slot 3 (10:50-12:20)</tr>
                <tr>Slot 4 (12:50-14:20)</tr>
                <tr>Slot 5 (14:30-16:00)</tr>
                <tr>Slot 6 (16:10-17:40)</tr>
                <tr>Slot 7 (17:50-19:20)</tr>
                <tr>Slot 8 (19:30-21:00)</tr>
            </td>
        </tbody>
    </table>
</div>