<div class="fxHeight">
    <div class="container py-4">
        <table class="table table-bordered ">
            <thead class="table-info text-center">
                <tr>
                    <th>
                        Weekly timetable
                    </th>
                    <th>MON</th>
                    <th>TUE</th>
                    <th>WED</th>
                    <th>THU</th>
                    <th>FRI</th>
                    <th>SAT</th>
                    <th>SUN</th>
                </tr>
            </thead>
            <tbody *ngFor="let slot of slots ">
                <tr>
                    <td>{{slot.timeout}} </td>
                    <td class="text-center text-primary">
                        <p *ngIf="slot.day1 == true">Meeting</p>
                    </td>
                    <td class="text-center text-primary">
                        <p *ngIf="slot.day2 == true">Meeting</p>
                    </td>
                    <td class="text-center text-primary">
                        <p *ngIf="slot.day3 == true">Meeting</p>
                    </td>
                    <td class="text-center text-primary">
                        <p *ngIf="slot.day4 == true">Meeting</p>
                    </td>
                    <td class="text-center text-primary">
                        <p *ngIf="slot.day5 == true">Meeting</p>
                    </td>
                    <td class="text-center text-primary">
                        <p *ngIf="slot.day6 == true">Meeting</p>
                    </td>
                    <td class="text-center text-primary">
                        <p *ngIf="slot.day7 == true">Meeting</p>
                    </td>
                    

                </tr>

            </tbody>
        </table>

    </div>
</div>