<body>
    <div class="container">

        <!-- Breadcrumb -->
        <div class="mt-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/staff/Dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a routerLink="/staff/ListStudents">List of students</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Student detail</li>
                </ol>
            </nav>
        </div>

        <div class="mt-5">
            <div class="row justify-content-center my-4">
                <div class="col-lg-8">
                    <mat-card class="text-center h4 bg-info">PROFILE</mat-card>
                </div>
            </div>
        </div>


        <mat-card>
            <div class="row justify-content-center form-group">
                <div class="col-3">
                    <img class="m-4" src="{{studentDetail.avatar}}" alt="avatar"
                        style="width: 100%; height: 85%; border-radius: 30%;">
                </div>

                <div class="col-9">
                    <div class="row justify-content-center">
                        <p class="col-3 align-self-center h5">UserName:</p>
                        <div class="col-8">
                            <input disabled class="form-control" type="text" value="{{studentDetail.username}}" />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <p class="col-3 align-self-center h5">Full Name:</p>
                        <div class="col-8">
                            <input disabled class="form-control" type="text" value="{{studentDetail.name}}" />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <p class="col-3 align-self-center h5">Date Of Birth:</p>
                        <div class="col-8">
                            <input disabled class="form-control" type="text" value="{{studentDetail.dateOfBirth}}" />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <p class="col-3 align-self-center h5">Phone Number:</p>
                        <div class="col-8">
                            <input disabled class="form-control" type="text" value="{{studentDetail.phoneNumber}}" />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <p class="col-3 align-self-center h5">Email:</p>
                        <div class="col-8">
                            <input disabled class="form-control" type="text" value="{{studentDetail.email}}" />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <p class="col-3 align-self-center h5">Address:</p>
                        <div class="col-8">
                            <input disabled class="form-control" type="text" value="{{studentDetail.address}}" />
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
        <app-time-table [student]="studentDetail"></app-time-table>
    </div>
</body>