
  a{
    color: black;
  }
    
  a:hover {
    color: brown;
    font-size: medium;
    text-decoration: none;
  }
    
  .example-container {
    display: flex;
    flex-direction: column;
  }
      
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-table {
    overflow: auto;
  }
  
  b{
      font-size: medium;
      color: black;
  }
  
  mat-header-cell{
      background-color:  #17a2b8;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .example-container {
      max-width: 100%;
    }
    
    b{
      font-size: x-small;
    }
    
    .mat-cell{
      font-size: xx-small;
    }
  
    .mat-column-no {
      max-width: 10%;
    }
    
    .mat-column-id {
      max-width: 12%;
    }
    
    .mat-column-name {
      max-width: 22%;
    }
    
    .mat-column-email {
      max-width: 31%;
    }
    
    .mat-column-phone {
      max-width: 15%;
    }
    
    .mat-column-action {
      max-width: 10%;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .example-container {
      max-width: 100%;
    }
    
    b{
      font-size: x-small;
    }
    
    .mat-cell{
      font-size: xx-small;
    }
  
    .mat-column-no {
      max-width: 10%;
    }
    
    .mat-column-id {
      max-width: 15%;
    }
    
    .mat-column-name {
      max-width: 25%;
    }
    
    .mat-column-email {
      max-width: 40%;
    }
    
    .mat-column-phone {
      max-width: 0;
      display: none;
    }
    
    .mat-column-action {
      max-width: 10%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .example-container {
      max-width: 100%;
    }
    
    b{
      font-size: medium;
    }
    
    .mat-cell{
      font-size: small;
    }
  
    .mat-column-no {
      max-width: 8%;
    }
    
    .mat-column-id {
      max-width: 13%;
    }
    
    .mat-column-name {
      max-width: 20%;
    }
    
    .mat-column-email {
      max-width: 31%;
    }
    
    .mat-column-phone {
      max-width: 20%;
      display: inline-flex;
    }
    
    .mat-column-action {
      max-width: 8%;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .example-container {
      max-width: 100%;
    }
    
    b{
      font-size: small;
    }
    
    .mat-cell{
      font-size: x-small;
    }
  
    .mat-column-no {
      max-width: 8%;
    }
    
    .mat-column-id {
      max-width: 15%;
    }
    
    .mat-column-name {
      max-width: 21%;
    }
    
    .mat-column-email {
      max-width: 30%;
    }
    
    .mat-column-phone {
      max-width: 15%;
      display: inline-flex;
    }
    
    .mat-column-action {
      max-width: 11%;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .example-container {
      max-width: 100%;
    }
    
    b{
      font-size: large;
    }
    
    .mat-cell{
      font-size: medium;
    }
  
    .mat-column-no {
      max-width: 9%;
    }
    
    .mat-column-id {
      max-width: 10%;
    }
    
    .mat-column-name {
      max-width: 23%;
    }
    
    .mat-column-email {
      max-width: 30%;
    }
    
    .mat-column-phone {
      max-width: 19%;
      display: inline-flex;
    }
    
    .mat-column-action {
      max-width: 10%;
    }
  }
  
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .example-container {
      display: flex;
      flex-direction: column;
    }
        
    .example-header {
      min-height: 64px;
      padding: 8px 24px 0;
    }
    
    .mat-table {
      overflow: auto;
      max-height: 550px;
    }
    
    b{
        font-size: x-small;
        color: black;
    }
  
    mat-header-cell{
        background-color:  #17a2b8;
    }
  
    .mat-cell{
      font-size: 8px;
    }
  
  }
  