<body>
    <div class="container">
        <div class="mt-5">
            <div class="row justify-content-center my-4">
                <div class="col-lg-8">
                    <mat-card class="text-center h3 m-0 bg-info">LIST OF STAFF</mat-card>
                </div>
            </div>

            <div class="example-container mat-elevation-z8">
                <mat-table [dataSource]="dataSource" matSort>
                    
                    <ng-container matColumnDef="no">
                        <mat-header-cell *matHeaderCellDef class="pl-2"><b>NO.</b></mat-header-cell>
                        <mat-cell *matCellDef="let i = index" class="pl-2"> {{i + 1}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header><b>ID</b></mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> <b>Full Name</b> </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> <b>Email</b> </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> <b>Phone</b> </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.phoneNumber}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef> <b>Action</b> </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <a (click)="onSelect(row)" routerLink="/staff/Dashboard">Detail</a>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>

            </div>
        
        </div>
    </div>
</body>
