<div class="overflow-auto p-3 h-75 rounded border ">
    <div class="d-flex justify-content-center p-3 my-3">
        <p class=" col col-lg-7 bg-light text-dark font-weight-bold text-uppercase rounded border text-center p-3 px-4">COURSE ID: COURSE NAME</p>
    </div>
    <div class="row justify-content-md-center rounded border bg-light">
        <div class="col col-lg-3 m-2 ">
            <div class="d-flex flex-row bd-highlight m-0 p-3 rounded border  bg-white  text-dark text-center">
                <p class="bd-highlight m-0 mx-2">CLASS ID</p>
                <span class=" bd-highlight m-0 mx-2 glyphicon glyphicon-info-sign">i</span>
            </div>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
        <div class="col col-lg-3 m-2">
            <p class="bg-white text-dark rounded border text-center p-2">CLASS ID</p>
        </div>
    </div>
</div>