<div class="overflow-auto p-3 h-50 rounded border ">
    <div class="d-flex justify-content-center p-3 my-3">
        <p class=" col col-lg-3 bg-light text-dark font-weight-bold text-uppercase rounded border text-center p-3 px-4">COURSES NAME</p>
    </div>
    <div class=" rounded border bg-light">
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <a href="#" class=" col col-lg-3 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course1">COURSE ID</a>
                <a href="#" class=" col col-lg-8 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course1">COURSE NAME</a>
            </div>
            <div class="container ">
                <app-display-class class="collapse" id="course1"></app-display-class>
            </div>
        </div>
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <a href="#" class=" col col-lg-3 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course2">COURSE ID</a>
                <a href="#" class=" col col-lg-8 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course2">COURSE NAME</a>
            </div>
            <div class="container ">
                <app-display-class class="collapse" id="course2"></app-display-class>
            </div>
        </div>
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <a href="#" class=" col col-lg-3 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course3">COURSE ID</a>
                <a href="#" class=" col col-lg-8 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course3">COURSE NAME</a>
            </div>
            <div class="container ">
                <app-display-class class="collapse" id="course3"></app-display-class>
            </div>
        </div>
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <a href="#" class=" col col-lg-3 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course4">COURSE ID</a>
                <a href="#" class=" col col-lg-8 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course4">COURSE NAME</a>
            </div>
            <div class="container ">
                <app-display-class class="collapse" id="course4"></app-display-class>
            </div>
        </div>
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <a href="#" class=" col col-lg-3 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course5">COURSE ID</a>
                <a href="#" class=" col col-lg-8 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course5">COURSE NAME</a>
            </div>
            <div class="container ">
                <app-display-class class="collapse" id="course5"></app-display-class>
            </div>
        </div>
    </div>
</div>