<div class="overflow-auto p-3 h-50 rounded border ">
    <div class="d-flex justify-content-center p-3 my-3">
        <p class=" col col-lg-3 bg-light text-dark font-weight-bold text-uppercase rounded border text-center p-3 px-4">COURSES</p>
    </div>
    <div class=" rounded border bg-light">
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <p class=" col col-lg-3 bg-white text-dark rounded border text-center p-2">COURSE ID</p>
                <p class=" col col-lg-8 bg-white text-dark rounded border text-center p-2">COURSE NAME</p>
            </div>
        </div>
        <div class="mb-3">
            <div class="row justify-content-around m-0 p-3">
                <p class=" col col-lg-3 bg-white text-dark rounded border text-center p-2">COURSE ID</p>
                <p class=" col col-lg-8 bg-white text-dark rounded border text-center p-2">COURSE NAME</p>
            </div>
        </div>
        <div class="mb-3">
            <div class="row justify-content-around m-0 p-3">
                <p class=" col col-lg-3 bg-white text-dark rounded border text-center p-2">COURSE ID</p>
                <p class=" col col-lg-8 bg-white text-dark rounded border text-center p-2">COURSE NAME</p>
            </div>
        </div>
        <div class="mb-3">
            <div class="row justify-content-around m-0 p-3">
                <p class=" col col-lg-3 bg-white text-dark rounded border text-center p-2">COURSE ID</p>
                <p class=" col col-lg-8 bg-white text-dark rounded border text-center p-2">COURSE NAME</p>
            </div>
        </div>
        <div class="mb-3">
            <div class="row justify-content-around m-0 p-3">
                <p class=" col col-lg-3 bg-white text-dark rounded border text-center p-2">COURSE ID</p>
                <p class=" col col-lg-8 bg-white text-dark rounded border text-center p-2">COURSE NAME</p>
            </div>
        </div>
        <div class="mb-3">
            <div class="row justify-content-around m-0 p-3">
                <p class=" col col-lg-3 bg-white text-dark rounded border text-center p-2">COURSE ID</p>
                <p class=" col col-lg-8 bg-white text-dark rounded border text-center p-2">COURSE NAME</p>
            </div>
        </div>
        <div class="mb-3">
            <div class="row justify-content-around m-0 p-3">
                <p class=" col col-lg-3 bg-white text-dark rounded border text-center p-2">COURSE ID</p>
                <p class=" col col-lg-8 bg-white text-dark rounded border text-center p-2">COURSE NAME</p>
            </div>
        </div>
        <div class="mb-3">
            <div class="row justify-content-around m-0 p-3">
                <p class=" col col-lg-3 bg-white text-dark rounded border text-center p-2">COURSE ID</p>
                <p class=" col col-lg-8 bg-white text-dark rounded border text-center p-2">COURSE NAME</p>
            </div>
        </div>
    </div>
</div>