<div class="container bg-light">
    <div class="text-center">
        <img src="assets/image/avatar.jpg" class="rounded-circle my-4" style="width: 150px; height: 150px;">
        <a class="h4" href="">
            <p>Nguyễn Thị Anh Anh</p>
        </a>
    </div>
    <div class="form-group row justify-content-md-center">
        <div class="col-lg-8">
            <input disabled class="form-control" type="text" value="Real name:" />
            <input disabled class="form-control" type="text" value="Phone number:" />
            <input disabled class="form-control" type="text" value="Address:" />
            <input disabled class="form-control" type="text" value="E-mail:" />
            <p class="h4 m-4">Schedule</p>
            <app-time-table></app-time-table>
        </div>
    </div>
</div>