<div class="container">
    <div class="my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="alert alert-info alert-dismissable text-center">
                    <p class="h3 m-0">Attendance report</p>
                </div>
            </div>
        </div>
        <table class="table table-striped text-center ">
            <thead class="table-info">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Date</th>
                    <th scope="col">Slot</th>
                    <th scope="col">Attendance status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>27/7/2020</td>
                    <td>Slot 1 (7:30-9:00)</td>
                    <td>Present</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>27/7/2020</td>
                    <td>Slot 1 (7:30-9:00)</td>
                    <td>Present</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>27/7/2020</td>
                    <td>Slot 1 (7:30-9:00)</td>
                    <td>Present</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>27/7/2020</td>
                    <td>Slot 1 (7:30-9:00)</td>
                    <td>Present</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>27/7/2020</td>
                    <td>Slot 1 (7:30-9:00)</td>
                    <td>Present</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>27/7/2020</td>
                    <td>Slot 1 (7:30-9:00)</td>
                    <td>Present</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>