<div class="h1 text-center m-3"><u>MAJORS</u></div>

<div class="row col-9 m-auto p-0">
    <div class="col-lg p-0">
      <div class="d-flex flex-column col-lg-12 p-0 mt-5">
        <img class="w-100 h-100" src="https://www.compuquip.com/hubfs/images/blog-images/do-you-have-what-it-takes-to-be-a-senior-security-engineer-at-compuquip.jpg">

        <div class="p-2 text-dark bg-warning">
            <div class="h6 text-center">COMPUTING AND SYSTEM DEVELOPMENT</div>
        </div>
      </div>         
    </div>
    
    <div class="col-lg">
        <div class="d-flex flex-column col-lg-12 p-0 mt-5">
            <img class="w-100 h-100" src="https://blog.vision33.co.uk/hs-fs/hub/38093/file-1053643894-jpg/images/closing_the_sale.jpg">

            <div class="p-2 text-dark bg-warning">
                <div class="h6 text-center">BUSINESS PROGRAM</div>
            </div>
          </div>
    </div>

    <div class="col-lg">
        <div class="d-flex flex-column col-lg-12 p-0 mt-5">
            <img class="w-100 h-100" src="https://static.cdn.printful.com/static/v754/images/landing/design-services/product-design-services-mobile.jpg">

            <div class="p-2 text-dark bg-warning">
                <div class="h6 text-center">GRAPHIC AND DIGITAL DESIGN</div>
            </div>
          </div>
    </div>

    <div class="col-lg">
        <div class="d-flex flex-column col-lg-12 p-0 mt-5">
            <img class="w-100 h-100" src="https://cdn.pixabay.com/photo/2014/04/02/10/18/graduation-303424_960_720.png">

            <div class="p-2 text-dark bg-warning">
                <div class="h6 text-center">COMMON COURSES</div>
            </div>
          </div>
    </div>

  </div>
