<!-- <nav class="navbar navbar-expand-lg navbar-light bg-warning container-fluid">
    <div class="collapse navbar-collapse show">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link h3 mr-5" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle h3 mr-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              News
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Education</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Event</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Notify</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Club</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Fun</a>
            </div>
        </li>

        <li class="nav-item">
          <a class="nav-link h3 mr-5" href="#">Majors</a>
        </li>
          
        <li class="nav-item">
            <a class="nav-link h3 mr-5" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link h3 mr-5" href="#">Contact</a>
        </li>

      </ul>

    </div>

  </nav> -->

<nav class="navbar navbar-expand-lg navbar-warning bg-warning">
     <div class="collapse navbar-collapse show" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link h3 mr-5" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle h3 mr-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              News
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Education</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Event</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Notify</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Club</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Fun</a>
            </div>
        </li>

        <li class="nav-item">
          <a class="nav-link h3 mr-5" href="#">Majors</a>
        </li>
          
        <li class="nav-item">
            <a class="nav-link h3 mr-5" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link h3 mr-5" href="#">Contact</a>
        </li>


      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </nav>



