<div class="container">
    <div class="my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="alert alert-info alert-dismissable text-center">
                    <p class="h3 m-0">List of tutors</p>
                </div>
            </div>
        </div>

        <table class="table table-striped text-center ">
            <thead class="table-info">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">ID Tutor</th>
                    <th scope="col">Name Tutor</th>
                    <th scope="col">Email</th>
                    <th scope="col">Num of student</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>GCH17645</td>
                    <td>Trịnh Văn Duy</td>
                    <td>Duytvgch17645</td>
                    <td>45</td>
                    <td class="p-2">
                        <div class="form-group row justify-content-around">
                            <div>
                                <input type="button" class="btn btn-outline-secondary mx-4" value="Detail" />
                                <input type="button" class="btn btn-outline-secondary" value="Update" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>GCH17645</td>
                    <td>Trịnh Văn Duy</td>
                    <td>Duytvgch17645</td>
                    <td>45</td>
                    <td class="p-2">
                        <div class="form-group row justify-content-around">
                            <div>
                                <input type="button" class="btn btn-outline-secondary mx-4" value="Detail" />
                                <input type="button" class="btn btn-outline-secondary" value="Update" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>GCH17645</td>
                    <td>Trịnh Văn Duy</td>
                    <td>Duytvgch17645</td>
                    <td>45</td>
                    <td class="p-2">
                        <div class="form-group row justify-content-around">
                            <div>
                                <input type="button" class="btn btn-outline-secondary mx-4" value="Detail" />
                                <input type="button" class="btn btn-outline-secondary" value="Update" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>GCH17645</td>
                    <td>Trịnh Văn Duy</td>
                    <td>Duytvgch17645</td>
                    <td>45</td>
                    <td class="p-2">
                        <div class="form-group row justify-content-around">
                            <div>
                                <input type="button" class="btn btn-outline-secondary mx-4" value="Detail" />
                                <input type="button" class="btn btn-outline-secondary" value="Update" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>GCH17645</td>
                    <td>Trịnh Văn Duy</td>
                    <td>Duytvgch17645</td>
                    <td>45</td>
                    <td class="p-2">
                        <div class="form-group row justify-content-around">
                            <div>
                                <input type="button" class="btn btn-outline-secondary mx-4" value="Detail" />
                                <input type="button" class="btn btn-outline-secondary" value="Update" />
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>