
a{
  color: black;
}

a:hover {
    color: brown;
    font-size: medium;
    text-decoration: none;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  b{
      font-size: medium;
      color: black;
  }

  mat-header-cell{
      background-color: indianred;
  }