<div class="container py-2">
    <div class="row my-2">
        <div class="col-lg-4">
            <h2 class="text-center font-weight-light">Lê Hồng Thư</h2>
        </div>
        <div class="col-lg-8">
            <div class="alert alert-info alert-dismissable">
                <p class="h3">Edit Profile</p>
            </div>
        </div>
        <div class="col-lg-8 order-lg-1 personal-info">
            <form role="form">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Username</label>
                    <div class="col-lg-9">
                        <input disabled class="form-control" type="text" value="janeuser" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <input disabled class="form-control" type="email" value="email@gmail.com" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Address</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="Street" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-6">
                        <input class="form-control" type="text" value="" placeholder="City" />
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control" type="text" value="" placeholder="State" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Time Zone</label>
                    <div class="col-lg-9">
                        <input disabled class="form-control" type="text" value="(UTC+07:00) Bangkok, HaNoi, Jakarta" placeholder="Time" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">About Me</label>
                    <div class="col-lg-9">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-9 ml-auto text-right d-flex justify-content-around">
                        <input type="reset" class="btn btn-outline-secondary " value="Cancel" />
                        <input type="button" class="btn btn-primary" value="Save Changes" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 order-lg-0 text-center">
            <img src="https://i.pinimg.com/736x/29/12/f0/2912f0edd9cc5559a4f704ecb72eb50b.jpg" style="width: 200px; height: 200px;" class="mx-auto img-fluid rounded-circle" alt="avatar" />
            <h6 class="my-4">Upload a new photo</h6>
            <div class="input-group px-xl-4">
                <div class="custom-file">
                    <input type="file" class="custom-file-input">
                    <label class="custom-file-label">Choose file</label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-secondary"><i class="fa fa-upload"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>