<div class="container p-0">
    <div class=" rounded border bg-light">
        <p class="text-center my-2">SCHEDULE</p>
    </div>
    <app-time-table></app-time-table>
    <div class=" rounded border bg-light">
        <p class="text-center my-2">LIST OF STUDENT</p>
    </div>
    <table class="table table-striped text-center">
        <thead class="table-info">
            <tr>
                <th scope="col">NO.</th>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">COURSE</th>
                <th scope="col">EMAIL</th>
                <th scope="col">IMAGES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>GCH16467</td>
                <td>Tran Trung Hieu</td>
                <td>Project</td>
                <td>hieuttgch16467@fpt.edu.vn</td>
                <td>hieutt.img</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>GCH16467</td>
                <td>Tran Trung Hieu</td>
                <td>Project</td>
                <td>hieuttgch16467@fpt.edu.vn</td>
                <td>hieutt.img</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>GCH16467</td>
                <td>Tran Trung Hieu</td>
                <td>Project</td>
                <td>hieuttgch16467@fpt.edu.vn</td>
                <td>hieutt.img</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>GCH16467</td>
                <td>Tran Trung Hieu</td>
                <td>Project</td>
                <td>hieuttgch16467@fpt.edu.vn</td>
                <td>hieutt.img</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>GCH16467</td>
                <td>Tran Trung Hieu</td>
                <td>Project</td>
                <td>hieuttgch16467@fpt.edu.vn</td>
                <td>hieutt.img</td>
            </tr>
        </tbody>
    </table>
</div>
