<div class="overflow-auto h-50 p-3 rounded border">
    <div class="d-flex justify-content-center p-3 my-3">
        <p class=" col col-lg-3 bg-light text-dark font-weight-bold text-uppercase rounded border text-center p-3 px-4">CLASS LIST</p>
    </div>
    <div class=" rounded border bg-light">
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <a routerLink="/admin/class-detail" class=" col col-lg-3 bg-white text-dark rounded border text-center p-2">CLASS ID</a>
                <a routerLink="/admin/class-detail" class=" col col-lg-8 bg-white text-dark rounded border text-center p-2">CLASS NAME</a>
            </div>
        </div>
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <a routerLink="/admin/class-detail" class=" col col-lg-3 bg-white text-dark rounded border text-center p-2">CLASS ID</a>
                <a routerLink="/admin/class-detail" class=" col col-lg-8 bg-white text-dark rounded border text-center p-2">CLASS NAME</a>
            </div>
        </div>
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <a routerLink="/admin/class-detail" class=" col col-lg-3 bg-white text-dark rounded border text-center p-2">CLASS ID</a>
                <a routerLink="/admin/class-detail" class=" col col-lg-8 bg-white text-dark rounded border text-center p-2">CLASS NAME</a>
            </div>
        </div>
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <a routerLink="/admin/class-detail" class=" col col-lg-3 bg-white text-dark rounded border text-center p-2">CLASS ID</a>
                <a routerLink="/admin/class-detail" class=" col col-lg-8 bg-white text-dark rounded border text-center p-2">CLASS NAME</a>
            </div>
        </div>
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <a routerLink="/admin/class-detail" class=" col col-lg-3 bg-white text-dark rounded border text-center p-2">CLASS ID</a>
                <a routerLink="/admin/class-detail" class=" col col-lg-8 bg-white text-dark rounded border text-center p-2">CLASS NAME</a>
            </div>
        </div>
    </div>
</div>