<body>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img id="image" class="d-block w-100" style="height: 80vh;" src="../../../assets/images/slide1.jpg"
                    alt="First slide">
            </div>
            <div class="carousel-item">
                <img id="image" class="d-block w-100 " style="height: 80vh;" src="../../../assets/images/slide2.jpg"
                    alt="Second slide">
            </div>
            <div class="carousel-item">
                <img id="image" class="d-block w-100" style="height: 80vh;" src="../../../assets/images/slide3.jpg"
                    alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <section id="about">
        <h2 class="bg-light text-dark text-center p-3 m-1">ABOUT US</h2>
        <div class="container-fluid">
            <div class="row justify-content-around">
                <div class="col-lg-10">
                    <h2 class="text-center mt-3"><b>GREENWICH UNIVERSITY</b></h2>
                    <div class="px-5">
                        <p>Greenwich University was formed on the basis of a link between the University of Greenwich
                            (United Kingdom) and FPT Education Organization since 2009 with more than 10,000 students
                            from 10 countries around the world who have been studying.</p>
                        <p>The content of the training, lecturers, and facilities are appraised and recognized for
                            quality by UK experts and Greenwich University..</p>
                        <p>Graduates will receive a Bachelor's Degree (University Degree) awarded by the University of
                            Greenwich, which is globally valid. With this degree, students can continue to study for
                            Masters, Ph.D. in many countries around the world.</p>
                        <h2>REASONS CHOOSE GREENWICH UNIVERSITY</h2>
                        <h4><b>STUDY IN VIETNAM - RECEIVED BY UK UNIVERSITY</b></h4>
                        <p>UK education is well-known around the world with rigorous standards to ensure professionalism
                            and pragmatic, to meet the development needs of the job. Studying at the University of
                            Greenwich, students have access to the elite of British education when graduating received a
                            Bachelor's degree from the University of Greenwich.</p>

                        <h4><b>SPECIAL PROGRAM FOR OJT</b></h4>
                        <p>OJT (On the job training) is a unique internship program at the University of Greenwich
                            enterprise for final year students. Designed with a total time of 4 months with two training
                            periods, OJT gives students practical knowledge, an opportunity to help students experience
                            careers, gain possible experience for work and jobs after graduation.</p>

                        <h4><b>OPPORTUNITIES FOR EXPANDING AFTER GRADUATION</b></h4>
                        <p>Greenwich University graduates are welcome to work at FPT Corporation (with 7 member
                            companies and more than 20,000 employees), and hundreds of business partners and
                            corporations in Vietnam and around the world.</p>

                        <h4><b>INTERNATIONAL ENVIRONMENT - STUDY WITH INTERNATIONAL LECTURERS AND STUDENTS</b></h4>
                        <p>Greenwich University strives to provide students with a comprehensive educational
                            environment, bringing professional values. Students studying at the University of Greenwich
                            will study in the same environment as studying abroad with international curriculum,
                            lecturers, and students from many countries around the world.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="major" class="text-center">
        <h2 class="bg-light text-dark p-3 m-1">MAJOR</h2>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-lg-4">
                    <div class="d-flex">
                        <img class="center" src="../../../assets/images/computing.jpg" alt="computing">
                    </div>
                    <h3 class="py-3"><b>Computing</b></h3>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex">
                        <img class="center" src="../../../assets/images/graphic.jpg" alt="graphic">
                    </div>
                    <h3 class="py-3"><b>Graphic Design</b></h3>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex">
                        <img class="center" src="../../../assets/images/business.png" alt="business">
                    </div>
                    <h3 class="py-3"><b>Business Management</b></h3>
                </div>
            </div>
        </div>
    </section>

</body>