.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    width: 40px;
    height: 40px;
    background-color: #353b48;
    border-radius: 40px;
    padding: 12px;
}

.search_icon {
    height: 15px;
    width: 15px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.modal-backdrop {
    background-color: transparent;
}

.form-control:focus {
    box-shadow: none;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.dropdown-toggle::after {
    display: none
}