<div class="container-fluid p-5">
    <div class="mb-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/tutor/Dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add schedule</li>
            </ol>
        </nav>
    </div>

    <select #selectStudent (change)="onSelect(selectStudent.value)" class="form-control" id="exampleFormControlSelect1">
        <label for="exampleFormControlSelect1">Select Student</label>
        <option *ngFor="let item of class">{{item.studentId}} {{item.studentName}}</option>
    </select>

    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <p class="text-center mt-5 h5">Student</p>
            <app-schedule></app-schedule>
        </div>

        <div class="col-lg-6 col-sm-12">
            <p class="text-center mt-5 h5">My timetable</p>
            <app-time-table ></app-time-table>
        </div>
    </div>
    
    <div class="row justify-content-around">
        <div class="form-group col-lg-5 col-sm-12 row">
            <label class="col-lg-12 col-sm-12" for="exampleFormControlSelect1">Select Date:&nbsp;</label>
            <div class="col-lg-12 col-sm-12">
                <input  #inputDate type="date">
            </div>
        </div>
        <div class="form-group col-lg-5 col-sm-12 row">
            <label class="col-lg-12 col-sm-12" for="exampleFormControlSelect1">Select Slot:</label>
            <div class="col-lg-12 col-sm-12" >
                <select #inputSlot class="form-control" id="exampleFormControlSelect1">
                    <option value="0">slot1</option>
                    <option value="1">slot2</option>
                    <option value="2">slot3</option>
                    <option value="3">slot4</option>
                    <option value="4">slot5</option>
                    <option value="5">slot6</option>
                    <option value="6">slot7</option>
                    <option value="7">slot8</option>
                </select>
            </div>
        </div>
    </div>
    <div class="p-2">
        <p *ngIf ="isDialog" class="text-danger">{{dataDialog}}</p>
            <div class="row justify-content-center" *ngIf="showDialogfalse">
                <div class="col-lg-8">
                <div class="alert alert-danger alert-dismissable text-center">
                    <p class="h3 m-0">Add meeting fail</p>
                </div>
                </div>
            </div>
            <div class="row justify-content-center" *ngIf="showDialogtrue">
                <div class="col-lg-8">
                <div class="alert alert-info alert-dismissable text-center">
                    <p class="h3 m-0">Add meeting success</p>
                </div>
                </div>
            </div>
    </div>
    <button (click)="addSchedule(inputDate.value, inputSlot.value)" class="btn btn-success">Add Schedule</button>

</div>