<nav id="sidebar">
    <div class="img bg-wrap text-center py-4" style="background-image: url(assets/image/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(assets/image/avatar.jpg);"></div>
            <h3>Catriona Henderson</h3>
        </div>
    </div>
    <ul class="list-unstyled">
        <li>
            <a href="#menuMajor" data-toggle="collapse"><span class="fa fa-home mr-3"></span>MAJOR</a>
            <div class="collapse" id="menuMajor">
                <a href="#">Computing</a>
                <a href="#">Digital Design</a>
                <a href="#">Business</a>
                <a href="#">Event</a>
                <a href="#">Marketing</a>
            </div>
        </li>
        <li>
            <a href="#"><span class="fa fa-download mr-3 notif"></span>TUTOR</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-gift mr-3"></span>STUDENT</a>
        </li>
        <li>
            <a href="#menuClass" data-toggle="collapse"><span class="fa fa-home mr-3"></span>CLASS</a>
            <div class="collapse" id="menuClass">
                <a href="#">Create a class</a>
                <a href="#">Edit a class</a>
                <a href="#">Class List</a>
            </div>
        </li>

    </ul>

</nav>