<div class="overflow-auto" style="width:auto; height:auto;">
    <div class="c-sidebar c-sidebar-dark c-sidebar-show">
        <img src="assets/images/nancy.jpg" style="width:100px; height: 100px; margin: auto" class="rounded-circle my-3" alt="Logo Greenwich">
        <img src="assets/images/nancy.jpg" style="width:200px; height: 200px; margin: auto" class="rounded-circle my-3" alt="Avatar">
        <p class="align-self-center">USERNAME</p>
        <ul class="c-sidebar-nav">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="c-sidebar-nav-icon cil-speedometer fa fa-history"></i> History
                </a>
            </li>
            <li class="c-sidebar-nav-item ">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="c-sidebar-nav-icon cil-speedometer fas fa-arrow-circle-down"></i> Saved
                </a>
            </li>
            <li class="c-sidebar-nav-item ">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="c-sidebar-nav-icon cil-speedometer fas fa-book"></i> My Course
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="c-sidebar-nav-icon cil-speedometer fa fa-table"></i> Weekly TimeTable
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="c-sidebar-nav-icon cil-speedometer fa fa-table"></i> Anything else
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="c-sidebar-nav-icon cil-speedometer fa fa-table"></i> Other
                </a>
            </li>
        </ul>
    </div>
</div>