<div class="container">
    <div class="my-5">
        <div class="row justify-content-center my-4">
            <div class="col-lg-8">
                <div class="alert alert-info alert-dismissable text-center">
                    <p class="h3 m-0">List of majors</p>
                </div>
            </div>
        </div>
        <table class="table table-striped text-center ">
            <thead class="table-info">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">ID</th>
                    <th scope="col">Major</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>007</td>
                    <td>Web design</td>
                    <td>No Description</td>
                    <td class="p-2">
                        <div class="form-group row justify-content-around">
                            <div>
                                <input type="button" class="btn btn-outline-secondary mx-4" value="Detail" routerLink="/staff/MajorDetail" />
                                <input type="button" class="btn btn-outline-secondary" value="Update" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>007</td>
                    <td>Web design</td>
                    <td>No Description</td>
                    <td class="p-2">
                        <div class="form-group row justify-content-around">
                            <div>
                                <input type="button" class="btn btn-outline-secondary mx-4" value="Detail" routerLink="/staff/MajorDetail" />
                                <input type="button" class="btn btn-outline-secondary" value="Update" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>007</td>
                    <td>Web design</td>
                    <td>No Description</td>
                    <td class="p-2">
                        <div class="form-group row justify-content-around">
                            <div>
                                <input type="button" class="btn btn-outline-secondary mx-4" value="Detail" routerLink="/staff/MajorDetail" />
                                <input type="button" class="btn btn-outline-secondary" value="Update" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>007</td>
                    <td>Web design</td>
                    <td>No Description</td>
                    <td class="p-2">
                        <div class="form-group row justify-content-around">
                            <div>
                                <input type="button" class="btn btn-outline-secondary mx-4" value="Detail" routerLink="/staff/MajorDetail" />
                                <input type="button" class="btn btn-outline-secondary" value="Update" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>007</td>
                    <td>Web design</td>
                    <td>No Description</td>
                    <td class="p-2">
                        <div class="form-group row justify-content-around">
                            <div>
                                <input type="button" class="btn btn-outline-secondary mx-4" value="Detail" routerLink="/staff/MajorDetail" />
                                <input type="button" class="btn btn-outline-secondary" value="Update" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>007</td>
                    <td>Web design</td>
                    <td>No Description</td>
                    <td class="p-2">
                        <div class="form-group row justify-content-around">
                            <div>
                                <input type="button" class="btn btn-outline-secondary mx-4" value="Detail" routerLink="/staff/MajorDetail" />
                                <input type="button" class="btn btn-outline-secondary" value="Update" />
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>