<nav id="sidebar">
    <div class="img bg-wrap text-center py-4" style="background-image: url(assets/image/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(assets/image/avatar.jpg);"></div>
            <h3>Lê Hồng Thư</h3>
        </div>
    </div>
    <ul class="list-unstyled">
        <li>
            <a href="#menuMajor" data-toggle="collapse"><span class="fa fa-home mr-3"></span>MAJOR</a>
            <div class="collapse" id="menuMajor">
                <a routerLink="/admin/courses">Computing</a>
                <a routerLink="/admin/courses">Digital Design</a>
                <a routerLink="/admin/courses">Business</a>
                <a routerLink="/admin/courses">Event</a>
                <a routerLink="/admin/courses">Marketing</a>
            </div>
        </li>
        <li>
            <a routerLink="/admin/tutors"><span class="fa fa-download mr-3 notif"></span>TUTOR</a>
        </li>
        <li>
            <a routerLink="/admin/students"><span class="fa fa-gift mr-3"></span>STUDENT</a>
        </li>
        <li>
            <a href="#menuClass" data-toggle="collapse"><span class="fa fa-home mr-3"></span>CLASS</a>
            <div class="collapse" id="menuClass">
                <a routerLink="/admin/add-class">Create a class</a>
                <a routerLink="/admin/add-class">Edit a class</a>
                <a routerLink="/admin/list-class">Class List</a>
            </div>
        </li>

    </ul>
</nav>