<div style="background-color: #ECEDE7;" class="pt-5">
    <div class="container">
        <div class="row justify-content-md-center text-dark">
            <div class="col col-lg-9 p-3 mb-2 bg-light">
                <b class="h4">Create Post</b>
                <textarea class="form-control mt-3 " placeholder="What's on your mind?" rows="4"></textarea>
                <div class="row">
                    <input type="button" class="btn btn-primary  offset-md-10 mt-3 px-4" value="Post" />
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center rounded  text-dark my-3 ">
            <b class="h3">POST</b>
        </div>
        <div class="row justify-content-md-center rounded  text-dark my-3 ">
            <div class="col col-lg-9 p-0">
                <p>March 1, 2020 at 2:22 PM</p>
                <div class="bg-light text-dark p-3">
                    <b class="h5">Create Post</b>
                    <p class="mt-3">
                        Post Title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center rounded  text-dark my-3 ">
            <div class="col col-lg-9 p-0">
                <p>March 1, 2020 at 2:22 PM</p>
                <div class="bg-light text-dark p-3">
                    <b class="h5">Create Post</b>
                    <p class="mt-3">
                        Post Title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center rounded  text-dark my-3 ">
            <div class="col col-lg-9 p-0">
                <p>March 1, 2020 at 2:22 PM</p>
                <div class="bg-light text-dark p-3">
                    <b class="h5">Create Post</b>
                    <p class="mt-3">
                        Post Title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center rounded  text-dark my-3 ">
            <div class="col col-lg-9 p-0">
                <p>March 1, 2020 at 2:22 PM</p>
                <div class="bg-light text-dark p-3">
                    <b class="h5">Create Post</b>
                    <p class="mt-3">
                        Post Title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>