<div class="modal fade modal-search" id="exampleModal" data-backdrop="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content d-flex flex-row">
            <div class="col-11 bg-white p-2 rounded shadow">
                <div class="input-group border rounded-pill p-1">
                    <div class="input-group-prepend border-0">
                        <button id="button-addon4" type="button" class="btn btn-link text-info"><i class="fa fa-search"></i></button>
                    </div>
                    <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon4" class="form-control bg-none border-0">
                </div>
            </div>
            <button type="button" class="close col-1 btn-light" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>