<div class="container-fluid">
    <div class="p-4">
        <div class="h3">Account</div>
        <div class="h5">Home > List of accounts</div>
    </div>
    <div class="card-body bg-light">
        <div class="h2 text-center">LIST OF ACCOUNTS</div>
        <table class="table text-center">
            <thead class="table-info">
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>TrinhVanDuy</td>
                <td>helloworld</td>
                <td>actived</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>TrinhVanDuy</td>
                <td>helloworld</td>
                <td>actived</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>TrinhVanDuy</td>
                <td>helloworld</td>
                <td>actived</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>