<header>
    <nav class="navbar fixed-top bg-warning">
        <i class="fa fa-graduation-cap mr-3" style="font-size: xx-large;">E-Tutoring</i>

        <button *ngIf="logout" type="button" (click)="sidenav.toggle()" class="navbar-toggler sidebar-toggle-mobile mr-auto">
            <i class="fa fa-bars" style="font-size: 1.4em;"></i>
        </button>

        <ul class="nav">
            <li class="nav-item dropdown align-self-center " *ngIf="logout">
                <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#">
                    <i class="material-icons" style="font-size: x-larger;">mail_outline</i></a>
                <div class="dropdown-menu dropdown-menu-right m-0 p-0">
                    <p class="text-center p-1 py-2" style="background-color: darkgrey;">WELCOME!</p>
                    <a class="dropdown-item" href="#"> Profile</a>
                    <a class="dropdown-item" href="#">Setting</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Sign Out</a>
                </div>
            </li>

            <li class="nav-item dropdown align-self-center" *ngIf="logout">
                <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell-o" style="font-size: x-large;"></i></a>
                <div class="dropdown-menu dropdown-menu-right m-0 p-0">
                    <p class="text-center p-1 py-2" style="background-color: darkgrey;">WELCOME!</p>
                    <a class="dropdown-item" href="#"> Profile</a>
                    <a class="dropdown-item" href="#">Setting</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Sign Out</a>
                </div>
            </li>

            <li *ngIf="logout" class="nav-item dropdown align-self-center">
                <a class="nav-link dropdown-toggle text-dark border text-center" style="width: 200px" data-toggle="dropdown" href="#">
                    <b> {{user.username}} </b></a>
                <div class="dropdown-menu dropdown-menu-right m-0 p-2">
                    <p class="text-center p-1 py-2" style="background-color: darkgrey;">WELCOME!</p>
                    <a class=" dropdown-item" routerLink="/profile"><i class="fa fa-user-circle-o mr-2"></i> Profile</a>
                    <a class="dropdown-item" href="#"> <i class="fa fa-cog mr-2"></i> Setting</a>
                    <div class="dropdown-divider"></div>
                    <a *ngIf="logout" class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out mr-2"></i> Sign Out</a>
                </div>
            </li>
            
            <li *ngIf="login" class="nav-item dropdown align-self-center">
                <a type="button" class="btn btn-light border px-5" data-toggle="modal" data-target="#login"><b>Sign In</b></a>
            </li>
        </ul>
    </nav>
</header>

<body>
    <div id="main">
        <mat-sidenav-container>
            <mat-sidenav mode="side" #sidenav position="start" class="p-0">
                <app-sidebar></app-sidebar>
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
    <app-login></app-login>
</body>