body{
    height: 90vh;
}

mat-sidenav {
    width: 300px;
    height: 100%;
}

mat-sidenav-container{
    background-color: white;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.dropdown-toggle::after {
    display: none
}

.border{
    border-radius: 30px;
}

#main{
    margin-top: 62px;
}

@media only screen and (max-width: 592px) {
    #main {margin-top: 100px;}
}

@media only screen and (max-width: 343px) {
    #main {margin-top: 138px;}
}

