<header>
    <nav class="navbar fixed-top" style="background: rgb(255, 111, 97)">
        <a id="logo" *ngIf="login" href="#"><i class="fa fa-graduation-cap mr-3">E-Tutoring</i></a>
        <a id="logo" *ngIf="accountSuperStaff" routerLink="/superStaff/Dashboard"><i class="fa fa-graduation-cap mr-3">E-Tutoring</i></a>
        <a id="logo" *ngIf="accountStaff" routerLink="/staff/Dashboard"><i class="fa fa-graduation-cap mr-3">E-Tutoring</i></a>
        <a id="logo" *ngIf="accountStudent" routerLink="/student/Dashboard"><i class="fa fa-graduation-cap mr-3">E-Tutoring</i></a>
        <a id="logo" *ngIf="accountTutor" routerLink="/tutor/Dashboard"><i class="fa fa-graduation-cap mr-3">E-Tutoring</i></a>

        <button *ngIf="accountStaff" type="button" (click)="sidenav.toggle()"
            class="navbar-toggler sidebar-toggle-mobile mr-auto">
            <i id="toggler" class="fa fa-bars"></i>
        </button>

        <a *ngIf="accountTutor" type="button" class="btn border py-0 px-4 mx-2 ml-auto" routerLink="/tutor/Dashboard/Messages">
            <i class="fa fa-comments-o mt-2" style="font-size: x-large; color: black;"></i>
        </a>

        <a *ngIf="accountTutor" type="button" class="btn border py-0 px-4 mx-2" routerLink="/tutor/Dashboard/AddSchedule">
            <i class="fa fa-handshake-o mt-2" style="font-size: x-large; color: black;"></i>
        </a>

        <a *ngIf="accountStudent" type="button" class="btn border py-0 px-4 mx-2 ml-auto" routerLink="/student/Dashboard/Messages">
            <i class="fa fa-comments-o mt-2" style="font-size: x-large; color: black;"></i>
        </a>

        <ul class="nav mx-2">
            <li *ngIf="logout" class="nav-item dropdown align-self-center">
                <a class="nav-link dropdown-toggle text-dark border text-center px-5" style="font-size: small;"
                    data-toggle="dropdown" href="#">
                    <b>{{name}}</b>
                </a>
                <div class="dropdown-menu dropdown-menu-right m-0 p-2" style="font-size: small;">
                    <p class="text-center p-1 py-2 alert alert-primary" role="alert">Welcome to E-tutoring!</p>
                    <a *ngIf="accountStaff || accountStudent || accountTutor" class=" dropdown-item" routerLink="/profile"><i class="fa fa-user-circle-o mr-2"></i> Profile</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" *ngIf="logout" class="dropdown-item clickLogout" (click)="logOut()"><i
                            class="fa fa-sign-out mr-2"></i> Sign Out</a>
                </div>
            </li>

            <li *ngIf="login" class="nav-item dropdown align-self-center">
                <a type="button" class="btn border px-5" data-toggle="modal" data-target="#login" style="font-size: medium"><b>Sign In</b></a>
            </li>
        </ul>
    </nav>
</header>

<body>
    <div id="main">
        <mat-sidenav-container>
            <mat-sidenav mode="side" #sidenav position="start" class="p-0">
                <app-sidebar></app-sidebar>
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
    <app-login></app-login>
</body>