
mat-sidenav {
    width: 300px;
    height: 100%;
}

mat-sidenav-container{
    background-color: white;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.dropdown-toggle::after {
    display: none
}

.border{
    border-radius: 30px;
}

#main{
    margin-top: 54px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #main {
        margin-top: 100px;
    }
    /* header {
        font-size: 50%;
    } */
}

@media only screen and (max-width: 343px) {
    #main {margin-top: 138px;}
}


