<body>
    <div class="container  bg-light py-2">
        <div class="border rounded m-4 py-4 px-5">

            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="alert alert-info alert-dismissable text-center">
                        <p class="h3 m-0">PROFILE</p>
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <div class="row justify-content-center">
                    <p class="col-3 align-self-center h5">UserName:</p>
                    <div class="col-8">
                        <input disabled class="form-control" type="text" value="{{username}}" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <p class="col-3 align-self-center h5">Full Name:</p>
                    <div class="col-8">
                        <input disabled class="form-control" type="text" value="{{name}}" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <p class="col-3 align-self-center h5">Phone Number:</p>
                    <div class="col-8">
                        <input disabled class="form-control" type="text" value="{{phoneNumber}}" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <p class="col-3 align-self-center h5">Email:</p>
                    <div class="col-8">
                        <input disabled class="form-control" type="text" value="{{email}}" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <p class="col-3 align-self-center h5">Date Of Birth:</p>
                    <div class="col-8">
                        <input disabled class="form-control" type="text" value="{{dateOfBirth}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>