body{
    height: 100vh;
}

a{
    color: black;
}
    
a:hover {
    color: brown;
    font-size: medium;
    text-decoration: none;
  }

input[type="text"]:disabled {
    background: white;
    margin: 3%;
}