body{
  height: 100vh;
}

a{
  color: black;
}
  
a:hover {
  color: brown;
  font-size: medium;
  text-decoration: none;
}
  
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}
    
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-table {
  overflow: auto;
  max-height: 600px;
}

b{
    font-size: medium;
    color: black;
}

mat-header-cell{
    background-color:  #17a2b8;
}

.mat-column-no {
  max-width: 7%;
}

.mat-column-id {
  max-width: 10%;
}

.mat-column-name {
  max-width: 16%;
}

.mat-column-dob {
  max-width: 12%;
}

.mat-column-email {
  max-width: 20%;
}

.mat-column-phone {
  max-width: 12%;
}

.mat-column-address {
  max-width: 13%;
}

.mat-column-action {
  max-width: 10%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 350px;
  }
      
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 550px;
  }
  
  b{
      font-size: x-small;
      color: black;
  }

  mat-header-cell{
      background-color:  #17a2b8;
  }

  .mat-cell{
    font-size: 8px;
  }

}
