<div class="container p-3 h-50 rounded border ">
    <div class="d-flex justify-content-center p-3 my-3">
        <p class=" col col-lg-3 bg-light text-dark font-weight-bold text-uppercase rounded border text-center p-3 px-4">Student Name - Student ID - Number of class</p>
    </div>
    <div class=" rounded border bg-light">
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <a href="#" class=" col col-lg-2 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course1">Student ID</a>
                <a href="#" class=" col col-lg-4 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course1">Student Name</a>
                <a href="#" class=" col col-lg-3 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course1">Number of class</a>
                <a routerLink="/admin/student/information"><i class="material-icons " style="font-size: 300%; color: black;">info_outline</i></a>

            </div>
            <div class="container ">
                <app-display-class class="collapse" id="course1"></app-display-class>
            </div>
        </div>
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <a href="#" class=" col col-lg-2 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course2">Student ID</a>
                <a href="#" class=" col col-lg-4 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course2">Student Name</a>
                <a href="#" class=" col col-lg-3 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course2">Number of class</a>
                <a routerLink="/admin/student/information"><i class="material-icons " style="font-size: 300%; color: black;">info_outline</i></a>
            </div>
            <div class="container ">
                <app-display-class class="collapse" id="course2"></app-display-class>
            </div>
        </div>
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <a href="#" class=" col col-lg-2 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course3">Student ID</a>
                <a href="#" class=" col col-lg-4 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course3">Student Name</a>
                <a href="#" class=" col col-lg-3 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course3">Number of class</a>
                <a routerLink="/admin/student/information"><i class="material-icons " style="font-size: 300%; color: black;">info_outline</i></a>
            </div>
            <div class="container ">
                <app-display-class class="collapse" id="course3"></app-display-class>
            </div>
        </div>
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <a href="#" class=" col col-lg-2 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course4">Student ID</a>
                <a href="#" class=" col col-lg-4 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course4">Student Name</a>
                <a href="#" class=" col col-lg-3 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course4">Number of class</a>
                <a routerLink="/admin/student/information"><i class="material-icons " style="font-size: 300%; color: black;">info_outline</i></a>

            </div>
            <div class="container ">
                <app-display-class class="collapse" id="course4"></app-display-class>
            </div>
        </div>
        <div class="my-3">
            <div class="row justify-content-around m-0 p-3">
                <a href="#" class=" col col-lg-2 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course5">Student ID</a>
                <a href="#" class=" col col-lg-4 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course5">Student Name</a>
                <a href="#" class=" col col-lg-3 bg-white text-dark rounded border text-center p-2" data-toggle="collapse" data-target="#course5">Number of class</a>
                <a routerLink="/admin/student/information"><i class="material-icons " style="font-size: 300%; color: black;">info_outline</i></a>
            </div>
            <div class="container ">
                <app-display-class class="collapse" id="course5"></app-display-class>
            </div>
        </div>
    </div>
</div>